<!DOCTYPE html>
<html>
<head>
<title>Dashboard</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="main-container">

<h1 class="title">Aplicación de Pronósticos</h1>

<form method="POST" enctype="multipart/form-data" class="form-card">

<input type="file" name="file" required>
<input type="number" name="n" placeholder="Valor de N" required>

<select name="metodo">
<option value="promedio">Promedio</option>
<option value="ses">SES</option>
<option value="prophet">Prophet</option>
</select>

<input type="date" name="fecha_fin" required>

<button type="submit">Calcular</button>

</form>

{% if resultados %}

<div class="grid">

{% for producto, datos in resultados.items() %}

<div class="card">

<h2>{{producto}}</h2>

<div class="metrics">
<p>MAE<br><span>{{datos.mae}}</span></p>
<p>MSE<br><span>{{datos.mse}}</span></p>
<p>MAPE<br><span>{{datos.mape}}%</span></p>
</div>

<img src="{{ url_for('static', filename=producto + '.png') }}">

</div>

{% endfor %}

</div>

<div class="table-card">
<h2>Comparación</h2>

<table>
<tr>
<th>Producto</th>
<th>Promedio</th>
<th>SES</th>
<th>Prophet</th>
</tr>

{% for producto, datos in tabla.items() %}
<tr>
<td>{{producto}}</td>
<td>{{datos.Promedio}}</td>
<td>{{datos.SES}}</td>
<td>{{datos.Prophet}}</td>
</tr>
{% endfor %}

</table>
</div>

{% endif %}

</div>

</body>
</html>